@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido </h1>
    <p>Aprender acerca <strong>BIONUCLEAR </strong><a href="https://www.bionuclear.com.do/"> Entra a nuestra página </a>.</p>
</div>
